#gameOver {
  background-color: var(--light-color);
  font-size: var(--default-font-size);
  overflow: auto;
}

#gameOver > #logo {
  height: 60vmin;
  aspect-ratio: 1;
}

#gameOver > p {
  margin: 0.8em 0.3em 0.3em;
}
